@model MovieHub.ViewModels.Review.DeleteViewModel

@{
    ViewBag.Title = "Delete";
}

@Styles.Render("~/Content/deleteReview.css")


<h1 class="text-center title">Delete</h1>

<div class="container cont">


        @using (Html.BeginForm("Delete", "Review", FormMethod.Post, new { @class = "form-horizontal" }))
            {
            @Html.HiddenFor(model => model.MovieId)
            @Html.HiddenFor(model => model.ReviewId)
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.Content, 10, 15, new { @class = "form-control col-md-10 col-md-offset-1", @rows = 10, @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-5">
                    @Html.ActionLink("Cancel", "Details", new { controller = "Movie", @id = Model.MovieId }, new { @class = "btn btn-primary" })
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            </div>
        }

</div>
