@model MovieHub.Models.Review
@Styles.Render("~/Content/movieDetails.css")

<div class="col-sm-offset-4 col-sm-8 allComments">
    <div><strong><span class="author">@Model.Author.UserName</span> said: </strong></div>
    <p>
        @Model.Content
    </p>

    @if (Model.isAuthor(User.Identity.Name) || User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Edit", "Edit", "Review", new { @id = Model.Id }, new { @class = "btn btn-primary reviewButton" })
        @*<button type="button" class="btn btn-danger reviewButton">Delete</button>*@
        <div class="forum-post-panel btn-group btn-group-xs">

            @Html.ActionLink("Delete", "Delete", "Review", new { @id = Model.Id, @movieId = Model.MovieId }, new { @class = "btn btn-danger" })

        </div>

    }

    <hr />
</div>
