@model MovieHub.Models.Movie

@{
    ViewBag.Title = "Details";
}

@Styles.Render("~/Content/movieDetails.css")

<div class="container">

    <div class="row">
        <div class="col-md-12 text-center">
            <h1> <span class="movieTitle">@Model.Title</span> <span class="year">(@Model.Released.Value.Year)</span></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center text-capitalize">
            <span class="details">Rated: @Model.Rated | @Model.Runtime | @foreach (var genre in @Model.Genres)
              {@genre.Name<text> </text>} | @Model.Released.Value.ToString("yyyy/MM/dd")</span>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <div class="poster">
                <img src="@Model.PosterUrl" alt="Poster" width="300">
            </div>
        </div>

        <div class="col-md-8 verticalAlign">
            <div class="col-md-12 vcenter">
                <span class="bold">Director: </span> @Model.Director.Name 
            </div>
            <div class="col-md-12 vcenter">
                <span class="bold">Stars: </span>
                @foreach (var act in @Model.Actors)
                {
                    @act.Name<text> | </text>
                }
            </div>
            <div class="col-md-12 vcenter">
                <span class="bold">Language(s): </span>@Model.Languages
            </div>
            <div class="col-md-12 vcenter">
                <span class="bold">Production: </span>@Model.Production.Name
            </div>
            <div class="col-md-12 vcenter">
                <span class="bold">Awards: </span>@Model.Awards
            </div>
            <div class="col-md-12 vcenter">
                <span class="bold">Plot: </span>@Model.Plot
            </div>
            <div class="col-md-12 vcenter">
                <span class="bold">Our partner IMDb rating:</span>
                <div class="col-md-12"><span class="rating">@Model.ImdbRating</span> | 123,333 votes</div>
            </div>

            <button type="button" class="btn btn-primary">Add to favourite</button>
            <input type="button" class="btn btn-info" value="Back" onclick="location.href = '/Movie/ListAll';">

        </div>
    </div>
    
    <br />

    <!-- Submit a review  -->
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            <div class="col-md-4">
                <h2 class="headerReview">Give us your review here:</h2>
            </div>
            <div class="col-md-8">
                @using (Ajax.BeginForm("SubmitReview", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = "Reviews", OnFailure = "reviewPostFailure" }))
                {

                    @Html.Hidden("MovieId", Model.Id)
                    @Html.TextArea("Content", new { @class = "form-control textarea" })
                    @Html.AntiForgeryToken()
                    <div class="col-sm-offset-4"><input type="submit" value="Review" class="btn btn-default text-center" /></div>
                }
            </div>
        </div>
    }
    <!-- All reviews -->
    <div class="row">
        <div class="col-sm-4">
        </div>
        @foreach (var review in Model.Reviews)
        {
            @Html.Partial("_ReviewPartial", review)
        }
    </div>

</div>
