@model ICollection<MovieHub.Models.Movie>

@{
    ViewBag.Title = "ListAll";
}

@Styles.Render("~/Content/listAll.css")

<div class="container">
    <h1 class="text-center">Our movies:</h1>
    @foreach (var movie in Model)
    {
        <div class="row">
            <div class="col-md-offset-1 col-md-1">
                @*<img src="https://images-na.ssl-images-amazon.com/images/M/MV5BZTRmNjQ1ZDYtNDgzMy00OGE0LWE4N2YtNTkzNWQ5ZDhlNGJmL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@("@._V1_SX300.jpg")">*@

                <a href="@Url.Action("Details", "Movie", new { @id = movie.Id })" title="List View" class="links">
                    <img src="@movie.PosterUrl" />
                </a>
            </div>
            <div class="col-md-5">
                <h4 class="title">  @Html.ActionLink(@movie.Title, "Details", "Movie", new { @id = movie.Id }, null) <span class="year">(@movie.Released.Value.Year)</span></h4>
                <p class="imdb"> Our partner rating(IMDb): <span class="rating">@movie.ImdbRating</span></p>
            </div>
        </div>
        <br />
    }
</div>